@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

/* Pagina Index.html */

body {
    font-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.encabezado {
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ececec;
    height: 80px;

}

.encabezado-logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    color: #2196f3;
}

.nav {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    color: #212121;
    position: relative;
}

.nav-estudio {
    color: #2196f3;
}

.nav-portafolio {
    color: #2196f3;
}

.nav-estudio::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 5px;
    background: #2196f3;
    border-radius: 4px;
    margin-top: 27px;
}

.nav-portafolio::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 5px;
    background: #03a9f4;
    border-radius: 4px;
    margin-top: 27px;
}

*/ .sobre,
.phone {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
}

.container {
    margin-inline: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encabezado-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    max-width: calc(1600px - 430px);
}

.encabezado-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 93px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.email{
    width: 16px;
    height: 11px;
    margin-right: 10px;
}

.telefono {
    width: 10px;
    height: 13px;
    margin-right: 10px;
    
}

/* Seccion contenido */

.Contenido {
    align-items: center;
    background-color: rgba(47, 48, 58, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    width: 1400px;
    height: 600px;
    left: -4px;
    top: 80px;
    justify-content: center;
    background: linear-gradient(0deg,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../Images/svg/Imagen-fondo.svg)
}

.Titulo-principal{
    width: 696px;
    height: 120px;
    left: 448px;
    top: 280px;
    font-weight: 800;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 110px;
    color: #FFFFFF;
}

.Boton-servicio {
    align-items: center;
    background: rgba(33, 150, 243, 1);
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    margin-top: 10%;
    position: absolute;
    width: 261px;
}

.imagenes-servicio {
    display: flex;
    margin-left: 65px;
}

.logo-servicio{
    width: 270px;
    weight: 120px;
    top: 769px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    background: #F5F4FA;
    margin-left: 32px;
    margin-top: 80px;
}

.antena {
    width: 70px;
    height: 70px;
    left: 206px;
    top: 769px;
    background: #F5F4FA;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 12px;
    margin-left: 95px;
}

.reloj {
    width: 76px;
    height: 76px;
    left: 506px;
    top: 769px;
    background: #F5F4FA;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 15px;
    margin-left: 95px;
}

.tv {
    width: 70px;
    height: 70px;
    left: 806px;
    top: 769px;
    background: #F5F4FA;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 15px;
    margin-left: 95px;
}

.astronauta {
    width: 70px;
    height: 70px;
    left: 1106px;
    top: 769px;
    background: #F5F4FA;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 15px;
    margin-left: 100px;
}

.Informacion-servicio {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    
}

.Info {
    margin-left: 32px;
}

.Informacion-titulo {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
}

.Informacion-texto {
    width: 270px;
    height: 75px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
}

.Informacion-trabajo {
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 110px;
}

.Imagen{
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
}
/* Nuestro equipo */

.Contenido-trabajo {
    width: 1400px;
    height: 648px;
    left: 0px;
    top: 1510px;
    background: #F5F4FA;
}

.Informacion-trabajo {
    align-items: center;
    color: rgba(33, 33, 33, 1);
    display: flex;
    flex-direction: row;
    height: 80px;
    top: 991px;
    left: 619px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 42px;
    text-align: center;
    margin-bottom: 70px;
    padding-top: 100px;
}

.Nombre-equipo {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 19px;
    margin-top: 20px;
}

.Ocupacion {
    color: rgba(117, 117, 117, 1);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 19px;
    text-align: center;
    margin-top: 10px;
}

.Imagen-integrantes {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.Informacion-imagen {
    width: 270px;
    height: 420px;
    left: 215px;
    top: 1785px;
    display: flex;
    margin-left: 30px;
}

.Informacion-imagen:hover{
    background-color: #AFB1B8;
}

.Icon{
    display: flex;
    margin-top: 20px;
}

.iconos {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    fill: #F5F4FA;
    background-color: #AFB1B8;
    margin-left: 40px;
}

.iconos-style {
    width: 25px;
    height: 25px;
    display: flex;
    margin-left: 28px;
    fill: #AFB1B8;
}

.contenido-clientes {
    display: flex;
    gap: 30px;
    margin-bottom: 150px;
    margin-left: 85px;
    justify-content: center;
}

.Titulo-clientes {
    font-family: 'Roboto';
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 50px;
    margin-left: 250px;
    color: #212121;
}

.cliente {
    width: 170px;
    height: 81px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    margin-top: 40px;
    
}

.cliente:hover path {
    fill: #2196F3;
}

/* footer */

.Pie-pagina {
    width: 1400px;
    height: 240px;
    left: 500px;
    top: 2158px;
}

.WebStudio-pie-pagina {
    Width: 145px;
    height: 31px;
    font-family: 'Raleway';
    font-style: normal;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    margin-left: 110px;
    margin-top: 20px;
    color: #2196F3;
}

.Datos-contacto {
    width: 231px;
    height: 21px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-left: 110px;
    color: #FFFFFF
}

.Titulo-redes {
    width: 135px;
    height: 16px;
    font-family: 'Roboto';
    font-size: 14px;
    letter-spacing: 0.03em;
    margin-left: 85px;
    margin-top: 30px;
    color: #FFFFFF;
}

.Logo-container{
    display: flex;
    margin-top: 12px;
    margin-left: 83px;
    gap: 12px;
}

.Logo-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    cursor: pointer;
    height: 44px;
    width: 44px;
}

.Logo-redes {
    height: 20px;
    width: 20px;
    fill: rgba(255, 255, 255, 1);;
}

/* Portafolio.html */

.Portafolio-botones {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1400px;
}

.Portafolio-categorias {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: center;
}

.Portafolio-categoria-botones {
    align-items: center;
    background: #F5F4FA;
    color: #212121;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    height: 38px;
    justify-content: center;
    margin-right: 30px;
    white-space: nowrap;
    width: fit-content;
    border-radius: 4px;
}

.Portafolio-categoria-botones-todo {
    align-items: center;
    background-color: #2196F3;
    color: #FFFFFF;
    width: 73px;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    height: 38px;
    justify-content: center;
    margin-right: 30px;
    white-space: nowrap;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.Portafolio-productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Portafolio-productos-figuras {
    box-sizing: border-box;
    height: 410px;
    left: calc(50% - 370px/2 - 400px);
    top: calc(50% - 404px/2 - 464px);
    margin: 20px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.Nombre-producto {
    box-sizing: border-box;
    width: 322px;
    height: 36px;
    left: calc(50% - 322px/2 - 400px);
    top: calc(50% - 36px/2 - 334px);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    padding-left: 24px;
    margin-bottom: 5px;
    color: #212121;
}

.Nombre-producto-poster {
    box-sizing: border-box;
    width: 322px;
    height: 36px;
    left: calc(50% - 322px/2 - 400px);
    top: calc(50% - 36px/2 - 334px);
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.06em;
    padding-left: 24px;
    margin-bottom: 5px;
    color: #212121;
}

.Tipo-categoria {
    box-sizing: border-box;
    width: 322px;
    height: 80px;
    left: calc(50% - 322px/2 - 400px);
    top: calc(50% - 30px/2 - 297px);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 24px;
    color: #757575;
}


/* Generales */
a {
    color: rgba(33, 33, 33, 1);
    text-decoration: none;
}

nav a:hover {
    color: rgba(33, 150, 243, 1);
}

div a:hover {
    color: rgba(33, 150, 243, 1);
}

footer {
    background-color: rgba(47, 48, 58, 1);
    display: flex;
    height: 210px;
    margin-bottom: 0;
    padding-top: 40px;
}

article ul li {
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(238, 238, 238, 1);
    height: 404px;
    margin-bottom: 100px;
    margin-right: 30px;
    width: 370px;
}

article ul li:hover {
    box-shadow: 2px 3px 6px 2px rgba(238, 238, 238, 1);
}

ul li:hover {
    color: #2196f3;
}

figure {
    position: relative;
}

figcaption {
    text-align: center;
    padding: 27px;
    width: 370px;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #ffffff;
}

li {
    list-style: none;
}

svg:hover{
    fill: #2196F3;
}





