@media (max-width: 600px) {
    header {
        flex-direction: column;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

/* Pagina Index.html */

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    overflow-y: auto;
    overflow-x: auto;
    color: #212121;
}

.Encabezado {
    align-items: center;
    width: 1400px;
    height: 80px;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    justify-content: space-between;
}

.WebStudio {
    position: left;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: right;
    letter-spacing: 0.03em;
    margin-left: 100px;
    color: #2196F3;
}

.Link-encabezado {
    display: flex;
    gap: 20px;
    margin-left: 50px;
    margin-right: 50px;
    color: #212121;
}

.Link-encabezado-solo{
    color: #2196F3;
}

.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.sobre{
    margin-right: 22px;
}

.sobre-logo{
    margin-right: 8px;
}
.celular{
    margin-left: 28px;
}
.celular-logo{
    margin-right: 8px;
}

.Contenido {
    align-items: center;
    background-color: rgba(47, 48, 58, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    width: 1400px;
    height: 600px;
    left: -4px;
    top: 80px;
    justify-content: center;
    background: linear-gradient(0deg,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../svg/Imagen-fondo.svg)
}

.Titulo-principal{
    width: 696px;
    height: 120px;
    left: 448px;
    top: 280px;
    font-weight: 800;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 110px;
    color: #FFFFFF;
}

.Boton-servicio {
    align-items: center;
    background: rgba(33, 150, 243, 1);
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    margin-top: 10%;
    position: absolute;
    width: 261px;
}

.imagenes-servicio{
    display: flex;
    margin-top: 89px;
    margin-left: 70px;
}

.antena{
    width: 270px;
    height: 120px;
    left: 206px;
    top: 769px;
    background: #F5F4FA;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
}

.reloj{
    width: 270px;
    height: 120px;
    left: 506px;
    top: 769px;
    background: #F5F4FA;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    margin-left: 35px;
}

.tv{
    width: 270px;
    height: 120px;
    left: 806px;
    top: 769px;
    background: #F5F4FA;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    margin-left: 35px;
}

.astronauta{
    width: 270px;
    height: 120px;
    left: 1106px;
    top: 769px;
    background: #F5F4FA;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    margin-left: 35px;
}
.Informacion-servicio{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin-left: 20px;
    margin-right: 65px;
}

.Imagen1 {
    width: 370px;
    left: 215px;
    top: 1211px;
    margin-top: 30px;
    margin-left: 140px;
    height: 100%;
    display: flex;
}

.Imagen2 {
    width: 370px;
    left: 215px;
    top: 1211px;
    margin-top: 30px;
    height: 100%;
    display: flex;
}

.Imagen3{
    width: 370px;
    left: 215px;
    top: 1211px;
    margin-top: 30px;
    height: 100%;
    display: flex;
}

.Info {
    margin-left: 35px;
}

.Informacion-titulo{
    width: 270px;
    height: 16px;
    left: 815px;
    top: 919px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    color: #212121
}

.Informacion-texto{
    width: 270px;
    height: 75px;
    top: 801px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.Informacion-trabajo {
    align-items: center;
    color: rgba(33, 33, 33, 1);
    display: flex;
    flex-direction: row;
    height: 80px;
    top: 991px;
    left: 619px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 42px;
    text-align: center;
    margin-bottom: 70px;
    padding-top: 100px;
}

.Contenido-trabajo{
    width: 1400px;
    height: 648px;
    left: 0px;
    top: 1510px;
    background: #F5F4FA;
}

.Nombre-equipo {
    display: block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 19px;
    text-align: center;
    color: #212121;
}

.Ocupacion {
    color: rgba(117, 117, 117, 1);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 19px;
    text-align: center;
}

.Imagen-integrantes {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.Informacion-imagen{
    width: 270px;
    height: 428px;
    left: 215px;
    top: 1785px;
    display: flex;
    margin-left: 30px;
}

.iconos{
    width: 25px;
    height: 25px;
    left: 24.5%;
    right: 24.13%;
    top: 0%;
    bottom: 24.3%;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 20px;
    border-radius: 50px;
    fill: #F5F4FA;
    background-color: #AFB1B8;;
}

.iconos:hover path{
    fill: #2196F3;
}

.iconos-style{
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 17px;
}

.iconos-style:hover path {
    fill: #2196F3;
}

.Titulo-clientes{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.03em;
    margin-top: 50px;
    margin-left: 250px;
    color: #212121;
}

.contenido-clientes{
    display: flex;
    gap: 30px;
    margin-bottom: 153px;
}

.cliente{
    box-sizing: border-box;
    width: 170px;
    height: 81px;
    left: 215px;
    top: 2447px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    margin-left: 126px;
    margin-top: 10px;
}

.cliente:hover path{
    fill: #2196F3;
}

.cliente1{
    box-sizing: border-box;
    width: 170px;
    height: 81px;
    left: 215px;
    top: 2447px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    margin-top: 10px;
}

.cliente1:hover path{
    fill: #2196F3;
}

.cliente2{
    box-sizing: border-box;
    width: 170px;
    height: 81px;
    left: 215px;
    top: 2447px;
    border: 1px solid #2196F3;
    border-radius: 4px;
    display: flex;
    margin-top: 10px;
}

.WebStudio-pie-pagina{
    width: 145px;
    height: 31px;
    left: 215px;
    top: 2218px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: right;
    letter-spacing: 0.03em;
    margin-left: 80px;
    color: #2196F3;
}

.Contenido-pie-pagina{
    display: flex;
}

.Pie-pagina{
    width: 1400px;
    height: 240px;
    left: 500px;
    top: 2158px;
    background: #2F303A;
}

.Datos-contacto {
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2258px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-left: 43px;
    margin-bottom: 100px;
    color: #FFFFFF
}

.Titulo-redes{
    width: 135px;
    height: 16px;
    left: 516px;
    top: 2751px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-left: 150px;
    margin-top: 30px;
    color: #FFFFFF;
}

.Logo-redes{
    margin-left: 150px;
    margin-top: 10px;
}

.Logo-redes:hover path{
    fill: #2196F3;
}

.Logo-redes-sociales {
    margin-left: 6px;
    margin-top: 10px;
}

.Logo-redes-sociales:hover path{
    fill: #2196F3;
}

/* Portafolio.html */

.Portafolio-botones {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1400px;
}

.Portafolio-categorias{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: center;
}

.Portafolio-categoria-botones{
    align-items: center;
    background: #F5F4FA;
    color: #212121;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    height: 38px;
    justify-content: center;
    margin-right: 30px;
    white-space: nowrap;
    width: fit-content;
    border-radius: 4px;
}

.Portafolio-categoria-botones-todo{
    align-items: center;
    background-color: #2196F3;
    color: #FFFFFF;
    width: 73px;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    height: 38px;
    justify-content: center;
    margin-right: 30px;
    white-space: nowrap;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.Portafolio-productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Portafolio-productos-figuras{
    box-sizing: border-box;
    height: 410px;
    left: calc(50% - 370px/2 - 400px);
    top: calc(50% - 404px/2 - 464px);
    margin: 20px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.Nombre-producto{
    box-sizing: border-box;
    width: 322px;
    height: 36px;
    left: calc(50% - 322px/2 - 400px);
    top: calc(50% - 36px/2 - 334px);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    padding-left: 24px;
    margin-bottom: 5px;
    color: #212121;
}

.Nombre-producto-poster{
    box-sizing: border-box;
    width: 322px;
    height: 36px;
    left: calc(50% - 322px/2 - 400px);
    top: calc(50% - 36px/2 - 334px);
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.06em;
    padding-left: 24px;
    margin-bottom: 5px;
    color: #212121;
}

.Tipo-categoria{
    box-sizing: border-box;
    width: 322px;
    height: 80px;
    left: calc(50% - 322px/2 - 400px);
    top: calc(50% - 30px/2 - 297px);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 24px;
    color: #757575;
}

a {
    color: rgba(33, 33, 33, 1);
    text-decoration: none;
}

/* Generales */
nav a {
    font-weight: 600;
    padding-right: 100px;
}

nav a:hover {
    color: rgba(33, 150, 243, 1);
}

div a:hover {
    color: rgba(33, 150, 243, 1);
}

footer {
    background-color: rgba(47, 48, 58, 1);
    display: flex;
    height: 210px;
    margin-bottom: 0;
    padding-top: 40px;
}

article ul li{
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(238, 238, 238, 1);
    height: 404px;
    margin-bottom: 100px;
    margin-right: 30px;
    width: 370px;
}

article ul li:hover{
    box-shadow: 2px 3px 6px 2px rgba(238, 238, 238, 1);
}

ul li:hover{
    color: #2196F3;
}

figure {
    position: relative;
}

figcaption {
    text-align: center;
    padding: 27px;
    width: 370px;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #ffffff;
}