@media (max-width: 600px) {
    header {
        flex-direction: column;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

/* Pagina Index.html */

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    overflow-y: auto;
    overflow-x: auto;
    color: #212121;
}

.Encabezado {
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    width: 1200px;
    height: 80px;
    left: 0px;
    margin-right: 50px;
    justify-content: space-between;
}

.Info-contact {
    align-items: center;
    display: flex;
}

.WebStudio {
    position: left;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: right;
    letter-spacing: 0.03em;
    margin-left: 150px;
    color: #2196F3;
}

.Link-encabezado {
    position: right;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-left: 50px;
}

.Contenido {
    align-items: center;
    background-color: rgba(47, 48, 58, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    width: 1400px;
    height: 600px;
    left: -4px;
    top: 80px;
    justify-content: center;
}

.Titulo-principal {
    color: rgba(255, 255, 255, 1);
    font-size: 44px;
    height: 120px;
    text-align: center;
    text-transform: uppercase;
    width: 696px;
}

.Boton-servicio{
    align-items: center;
    background: rgba(33, 150, 243, 1);
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    margin-top: 10%;
    position: absolute;
    width: 261px;
}

.Informacion-servicio{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.Informacion-titulo{
    width: 270px;
    height: 16px;
    left: 815px;
    top: 775px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121
}

.Informacion-texto{
    width: 270px;
    height: 96px;
    left: 515px;
    top: 801px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.Informacion-trabajo {
    align-items: center;
    color: rgba(33, 33, 33, 1);
    display: flex;
    flex-direction: row;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 42px;
    text-align: center;
}

.Informacion-imagen{
    width: 373.16px;
    left: 618.42px;
    top: 1092.3px;
}

.Nombre-equipo {
    display: block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 19px;
    text-align: center;
    color: #212121;
}

.Ocupacion {
    color: rgba(117, 117, 117, 1);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 19px;
    text-align: center;
}

.Imagen-integrantes {
    width: 270px;
    height: 368px;
    background: #FFFFFF;
}

.Datos-contacto{
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2258px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.WebStudio-pie-pagina{
    position: left;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.Pie-pagina{
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2158px;
    background: #2F303A;
}

/* Portafolio.html */

.Portafolio-botones {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1400px;
}

.Portafolio-categorias{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: center;
}

.Portafolio-categoria-botones{
    align-items: center;
    background: #F5F4FA;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    height: 38px;
    justify-content: center;
    margin-right: 30px;
    white-space: nowrap;
    width: fit-content;
}
.Portafolio-categoria-botones-todo{
    align-items: center;
    background-color: #2196F3;
    color: #FFFFFF;
    width: 73px;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    height: 38px;
    justify-content: center;
    margin-right: 30px;
    white-space: nowrap;
}

.Portafolio-productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Portafolio-productos-figuras{
    box-sizing: border-box;
    width: 370px;
    height: 404px;
    left: calc(50% - 370px/2 - 400px);
    top: calc(50% - 404px/2 - 464px);
    margin: 20px;
    background: #FFFFFF;
}

.Nombre-producto{
    box-sizing: border-box;
    width: 322px;
    height: 36px;
    left: calc(50% - 322px/2 - 400px);
    top: calc(50% - 36px/2 - 334px);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

.Tipo-categoria{
    box-sizing: border-box;
    width: 322px;
    height: 30px;
    left: calc(50% - 322px/2 - 400px);
    top: calc(50% - 30px/2 - 297px);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

a {
    color: rgba(33, 33, 33, 1);
    text-decoration: none;
}

/* Generales */
nav a {
    font-weight: 600;
    padding-right: 100px;
}

nav a:hover {
    color: rgba(33, 150, 243, 1);
}

div a:hover {
    color: rgba(33, 150, 243, 1);
}

footer {
    background-color: rgba(47, 48, 58, 1);
    display: flex;
    height: 210px;
    margin-bottom: 0;
    padding-top: 40px;
}

article ul li{
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(238, 238, 238, 1);
    height: 404px;
    margin-bottom: 100px;
    margin-right: 30px;
    width: 370px;
}

article ul li:hover{
    box-shadow: 2px 3px 6px 2px rgba(238, 238, 238, 1);
}