@import "../utils/variables";

.customer-title {
    font-family: 'Roboto';
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;    
}

.customer-container {
    height: 130px;
    display: flex;
    justify-content: center;
    gap: 28px;
    margin: 50px 0px;
}

.customer {
    width: 170px;
    height: 81px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    
}

.customer:hover path {
    fill: #2196F3;
}