
.dedication-title {
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 110px 0px 0px 20px;
}

.dedication-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

.dedication-image {
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
}

.dedication-image:hover {
    border: 2px solid rgba(117, 117, 117, 1);
}