
.dedication-title {
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 110px 0px 0px 20px;
}

.dedication-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 50px 0px 0px 25px;
    gap: 30px;
}

.dedication-imagen {
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
}
