@import "../utils/variables";
@import "../utils/mixin.scss";

/* footer */

.footer {
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;    
}


.footer-WebStudio {
    height: 31px;
    font-family: 'Raleway';
    font-style: normal;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: $color-blue;
    padding: 30px 0px;
}

.footer-contact {
    width: 240px;
    height: 21px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    padding: 20px 0px;    
}

.footer-title-redes {
    font-family: 'Roboto';
    font-size: 14px;
    letter-spacing: 0.03em;
    padding: 43px 0px 0px 70px;
    color: $color-white;
}

.footer-container-redes {
    display: flex;
    gap: 10px;
    padding: 20px 0px 0px 70px;
}

.footer-redes {
    @include display;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    cursor: pointer;
    height: 44px;
    width: 44px;
}

.footer-redes:hover {
    border: 1px solid $color-white;
}

.footer-icon {
    height: 20px;
    width: 20px;
    fill: $color-white-rgba;
}

/* seccion boletin informativo */

.footer-container-boletin {
    padding: 43px 0px 0px 80px;
}

.footer-boletin-title {
    width: 285px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-white;
}

.footer-boletin-form {
    @include display;
    gap: 16px;
    padding: 18px 0px;
}

.footer-boletin-input {
    height: 50px;
    padding: 15px;
    width: 370px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px $color-grey-rgba);
    background: #2f303a;
    border-radius: 4px;
}

.footer-boletin-input:hover {
    border: 1px solid $color-blue;
}

.footer-boletin-btn {
    @include display;
    gap: 15px;
    width: 190px;
    height: 50px;
    background: $color-blue;
    border-radius: 4px;
    color: $color-white;
}

.footer-boletin-btn:hover {
    border: 1px solid $color-grey-rgba;
}

.footer-boletin-icon {
    fill: $color-white;
    width: 24px;
    height: 24px;
}