
/* Portafolio.html */

.portafolio-contain {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.portafolio-btn {
    display: flex;
    height: fit-content;
}

.portafolio-btn-category {
    align-items: center;
    background: #F5F4FA;
    color: #212121;
    display: flex;
    font-weight: 600;
    height: 40px;
    margin: 80px 10px 40px;
    padding: 15px;
    width: max-content;
    letter-spacing: 0.08em;
    border: 1px solid #212121;
    border-radius: 4px;
}

.portafolio-btn-category:hover {
    background: #188CE8;
    color: #F5F4FA;
    border: 2px solid rgba(0, 0, 0, 0.1)
}