@import "../utils/variables";
@import "../utils/mixin.scss";

@media screen and (min-width: 1200px) {

    .portafolio-contain {
        @include display;
    }
    
    .portafolio-btn {
        display: flex;
        height: fit-content;
    }
    
    .portafolio-btn-category {
        @include display;
        background: $color-grey-background;
        color: $color-dark--grey;
        font-weight: 600px;
        height: 40px;
        margin: 80px 10px 40px;
        padding: 15px;
        width: max-content;
        letter-spacing: 0.08em;
        border: 1px solid $color-dark--grey;
        border-radius: 4px;
    }
    
    .portafolio-btn-category:hover {
        background: $color-blue;
        color: $color-grey-background;
        border: 2px solid $color-grey-rgba;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

    .portafolio-contain {
        @include display;
    }

    .portafolio-btn {
        display: flex;
        height: fit-content;
    }

    .portafolio-btn-category {
        @include display;
        background: $color-grey-background;
        color: $color-dark--grey;
        font-weight: 600px;
        height: 40px;
        margin: 80px 10px 40px;
        padding: 15px;
        width: max-content;
        letter-spacing: 0.08em;
        border: 1px solid $color-dark--grey;
        border-radius: 4px;
    }

    .portafolio-btn-category:hover {
        background: $color-blue;
        color: $color-grey-background;
        border: 2px solid $color-grey-rgba;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {}



