@import "../utils/variables";
@import "../utils/mixin.scss";

@media screen and (min-width: 1200px) {

    .Service-container {
        @include display;
        background-color: rgba(47, 48, 58, 1);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        color: $color-white-rgba;
        flex-direction: column;
        width: 100%x;
        height: 600px;
        left: -4px;
        top: 80px;
        background: linear-gradient(0deg,
                $color-grey-rgba,
                $color-grey-rgba),
            url(../Images/svg/Imagen-fondo.svg);
        background-size: cover;
    }
    
    .Service-title {
        width: 696px;
        height: 120px;
        left: 448px;
        top: 280px;
        font-weight: 800;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    
    .Service-btn {
        @include display;
        background: rgba(33, 150, 243, 1);
        border-radius: 4px;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        color: $color-white-rgba;
        flex-direction: row;
        height: 50px;
        width: 261px;
        margin-top: 40px;
    }
    
    .Service-div-container {
        @include display;
       padding: 0px 18px 0px 0px;
    
    }
    
    .Service-logo {
        @include display;
        width: 270px;
        border-radius: 4px;
        background: $color-grey-background;
        margin: 90px 9px 30px;
    }
    
    .Service-icon {
        width: 70px;
        height: 70px;
        margin: 10px 0px;
    }
    
    .Service-margin {
        width: 270px;
        margin: 10px 9px;
    }
    
    .Service-div-title {
        font-size: 14px;
        letter-spacing: 0.03em;
    }
    
    .Service-text {
        font-size: 13px;
        line-height: 24px;
        letter-spacing: 0.03em;
        padding: 15px 0px;
        color: #757575;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

    .Service-container {
        @include display;
        background-color: rgba(47, 48, 58, 1);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        color: $color-white-rgba;
        flex-direction: column;
        width: 100%;
        height: 400px;
        left: -4px;
        top: 80px;
        background: linear-gradient(0deg,
                $color-grey-rgba,
                $color-grey-rgba),
            url(../Images/svg/Imagen-fondo.svg);
        background-size: cover;
    }

    .Service-title {
        width: 360px;
        height: 90px;
        font-weight: 800;
        font-size: 26px;
        line-height: 45px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .Service-btn {
        @include display;
        background: rgba(33, 150, 243, 1);
        border-radius: 4px;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        color: $color-white-rgba;
        flex-direction: row;
        height: 50px;
        width: 240px;
        margin-top: 30px;
    }

    .Service-div-container {
        @include display;
        flex-wrap: wrap;
        
    }

    .Service-logo {
        @include display;
        width: 270px;
        border-radius: 4px;
        background: $color-grey-background;
        margin: 90px 9px 30px;
    }

    .Service-icon {
        width: 70px;
        height: 70px;
        margin: 10px 0px;
    }

    .Service-margin {
        width: 270px;
        margin: 10px 9px;
    }

    .Service-div-title {
        font-size: 14px;
        letter-spacing: 0.03em;
    }

    .Service-text {
        font-size: 13px;
        line-height: 24px;
        letter-spacing: 0.03em;
        padding: 15px 0px;
        color: #757575;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {}
