@import "../utils/variables";

.teamwork-container {
    width: 100%;
    height: 720px;
    left: 0px;
    top: 1510px;
    margin: 90px 0px;
    background: $color-grey-background;    
}

.teamwork-title {
    @include display;
    font-size: 36px;
    letter-spacing: 0.03em;
    padding: 90px 0px 60px;
    
}  

.teamwork-space {
    display: flex;
    justify-content: center;
    gap: 30px;     
}

.teamwork-image {
    display: flex;
    width: 270px;
    height: 420px;
           
}

.teamwork-image:hover {
    border: 1px solid rgba(238, 238, 238, 1);
}

.teamwork-integrantes {
    background: $color-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.teamwork-name {
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 19px;
    padding: 20px 0px 10px;
}

.teamwork-job {
    color: rgba(117, 117, 117, 1);
    letter-spacing: 0.03em;
    line-height: 19px;
    text-align: center;    
}

.teamwork-redes {
    @include display;
    padding: 20px 0px;    
}

.teamwork-icon {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    fill: $color-grey-background;
    background-color: $color-grey-icon;
    
}

.teamwork-icon-style {
    width: 25px;
    height: 25px;
    display: flex;
    margin-left: 28px;
    fill: $color-grey-icon;
}